<li>
	{{burger_name}}

	<button class="change-devoure" data-id="{{id}}" data-newdevoure="{{devoured}}">
		<!--{{#if devoured}}Devouverd!{{else}}Yet On the Tray!{{/if}}-->
		{{#if devoured}}Devouverd!{{else}}Delete{{/if}}
		<!--{{#if devoured}}Devouverd!{{/if}}-->
	</button>

	<!--<button class="delete-burger" data-id="{{this.id}}">DELETE!</button> -->
</li>
