<div class="modal fade" id="modalCommentsForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-top modal-lg mt-0" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Article Comments</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-warning comment-modal-btn" data-dismiss="modal">Close</button>
        <button type="button" class="add-comments btn btn-secondary comment-modal-btn">Add Comment</button>
      </div>
    </div>
  </div>
</div>

<nav class="navbar fixed-top navbar-expand-lg navbar-dark primary-color scrolling-navbar">
  <a class="navbar-brand" href="#"><i class="fa fa-newspaper-o mr-1" aria-hidden="true"></i><strong>Saved Articles</strong></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" id="navbar-list">
      <li class="nav-item" id="home">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active" id="saved">
        <a class="nav-link" href="#">Saved Articles</a>
      </li>
  </div>
</nav>

<div class="jumbotron jumbotron-fluid h-50 z-depth-4">
  <div class="container mt-5">
    <h1 class="h1-reponsive mb-4 white-text text-center font-bold">Saved Articles</h1>
    <p class="lead white-text text-center">Your Saved Articles</p>
  </div>
</div>

<div class="container-fluid headlines">
{{#if headlines}}
  {{#each headlines}}
  <div class="row headline mt-3 z-depth-4 rounded">
    <div class="col-md-12">
      <div class="card" data-id={{_id}}>
        <div class="card-header primary-color">
          <h3>
            <a class="hl-link align-middle white-text" target=_blank href={{link}}>{{title}}</a>
            <div class = "float-right">
              <a class="hl-nosave btn btn-danger" href="#">DELETE FROM SAVED</a>
              <a class="hl-comments btn btn-secondary" href="#">ARTICLE COMMENT</a>
            </div>
          </h3>
        </div>
        <div class="card-body">
          <p class="card-text">{{byline}}</p>
          <p class="card-text">{{summary}}</p>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
  {{else}}
    <div class="card">
      <div class="card-body primary-color text-center">
        <p class="comment card-text d-inline white-text font-bold">No headlines currently exist. Please save articles to add them!</p>
      </div>
    </div>
  {{/if}}
</div>
